.clasecanvas1{
    border: 10px solid black;
    
}

.botones{
    display: flex;
    
    button{
        width: 1/5*100%;
        margin: 10px;
        border: 2px solid pink;
        background-color: papayawhip;
    }
}

