*{
    font-family: monospace;
}
h2 {
    text-align: center;
}



figure{
    img{
        display: block;
        width: 100%;
    }
    figcaption{
        text-align: center;
    }
}


.srcimg{
    display: block;
    width: 100%;
}